body {
  background: #0e7e12;
  font-family: Arial, sans-serif;
  text-align: center;
  padding-top: 40px;
}

.title {
  color: white;
  margin-bottom: 30px;
}

.card {
  width: 120px;
  height: 180px;
  background: white;
  border-radius: 10px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family:Arial, sans-serif;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  overflow: hidden;
  position: relative;
}

.corner {
  font-size: 18px;
  line-height: 1;
  display: flex;
  flex-direction: column;
}

.corner.bottom {
  transform: rotate(180deg);
  align-self: flex-end;
}

.center {
  font-size: 48px; /* 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1; /* 
}

/* Colores por palo */
.heart, .diamond {
  color: red;
}

.spade, .club {
  color: black;
}